version: 2.1
orbs:
  slack: circleci/slack@4.9.3
jobs:
  notify:
    docker:
      - image: 'cimg/base:stable'
    steps:
      - run:
        name: Notify Slack
        command: |
          echo '{
            "type": "plain_text",
            "text": "This is Ethan Tanner submitting the Slack assignment",
            "emoji": true
          }' > slack_message.json
         - slack/notify:
            custom: cat slack_message.json
            event: always

workflows:
  send-notification:
    jobs:
      - notify-slack:
          context: slack-secrets
